page-tabs {
 background-color: #222;
  .ion-ios-add-outline {
   border: 1px white solid;
   border-radius: 5px;
   height: 25px !important;
   min-width: 25px !important;
   margin-bottom: 4px !important;
   margin-top: 5px !important;
  }

  .ion-md-add {
   border: 1px white solid;
   border-radius: 5px;
   height: 25px !important;
   min-width: 25px !important;
   margin-bottom: 0px !important;
   margin-top: 2px !important;
  }

  .ion-ios-add-outline:before {
    margin-top: -3px;
  }

  .ion-ios-add:before {
    margin-top: -2px;
  }

  .tab-button[aria-selected=true] .ion-ios-add {
   background-color: #ffbb00 !important;
   color: black !important;
   border-radius: 5px !important;
   min-width: 25px !important;
   height: 25px;
   margin-bottom: 4px;
   margin-top: 5px;
  }
  .tab-button[aria-selected=true] .ion-md-add {
    border: 0px black solid !important;
    background-color: #ffbb00 !important;
    color: black !important;
    border-radius: 5px !important;
    min-width: 25px !important;
    height: 25px;
   margin-bottom: 4px;
   margin-top: 5px;
  }
}
