page-event-detail {
  .scroll-content {
    background: url('../../assets/images/Wood-Grain-Web.png');
    background-position: center center;
    background-size: cover;
  }
  p {
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5em;
    margin-bottom: 0;

  }

}
